# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Datasets and outputs
CIVICLEAR DATASETS/
CIVICLEAR_MERGED_YOLO/
datasets/
dataset/
raw_dataset/
runs/
outputs/
results/
weights/
*.pt
*.onnx
*.engine
*.tflite
*.zip
*.rar
*.7z

# Avoid committing image/video datasets
*.jpg
*.jpeg
*.png
*.webp
*.bmp
*.mp4
*.avi
*.mov
